/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

 

.ov-slide-edit-title {
	background: #eee;
	border: 1px solid #333;
	text-align: center;
}
